<div class="page-header">
<h1>
<% if @wiki.private %>
  <small><span class="glyphicon glyphicon-lock"></span> </small>
<% end %>
<%= link_to @wiki.title, @wiki  %>
 </h1> 
</div>

<div class="col-lg-7">

  <h2>

    <div class="btn btn-group btn-group-sm pull-right">
      <button class="btn btn-default">
        <%= link_to 'Edit', edit_wiki_article_path %>
      </button>
      <% if policy(@wiki).destroy? %>
      <button class="btn btn-default">
        <%= link_to "Delete", [@wiki, @article], method: :delete  %>
      </button>
      <% end %>
    </div>
    <%= @article.title %>
  </h2>
  <div id="article_body">
  <div>
    <%= markdown(@article.body).html_safe %>
  </div>
  </div>
</div>
<div class="col-lg-2">
<br />
<ul class="list-group">
  <% @wiki.articles.each do |article| %>
  <li class="list-group-item">
  <small>
  <%= render partial: 'articles/article', locals: { wiki: @wiki, article: article } %>
  </small>
  </li>
  <% end %>  
</ul>
</div>