<div class="page-header">
<h1>
  <% if @wiki.private %>
  <small><span class="glyphicon glyphicon-lock"></span></small>
  <% end %>
  <%= @wiki.title %>
  <div class="btn btn-group btn-group-sm pull-right">
    <% if policy(@wiki).update? %>
    <button class="btn btn-default">
      <%= link_to 'Edit', edit_wiki_path(@wiki) %>
    </button>
    <% end %>
    <% if policy(@wiki).destroy? %>
    <button class="btn btn-default">
      <%= link_to "Delete", @wiki, method: :delete  %>
    </button>
    <% end %>
    <button class="btn btn-sm btn-default">
  <%= link_to 'New Article', new_wiki_article_path(@wiki) %>
  </button>     
  </div>
</h1>
<p <% if @wiki.private %> style="text-indent:2.5em" <% end %>><%= @wiki.description %>
</p>
 
</div>


<div class="col-lg-7">

<ul class="list-group">
  <% @wiki.articles.each do |article| %>
  <li class="list-group-item" >
  <h4>
    <%= render partial: 'articles/article', locals: { wiki: @wiki, article: article } %>
  </h4>
  </li>
  <% end %>
</ul>

</div>

<div class="col-lg-3">
  <div class="media" style="margin-bottom:10px;">
    <%= image_link_to(avatar_url(@wiki.user, '40'), @wiki.user.email, options={class: 'pull-left'}) unless @wiki.user.nil? %>
    <p><strong><%= @wiki.user.name %></strong>&nbsp;<span class="label label-default">Owner</span><br />
    <%= @wiki.user.email %></p>
  </div>
  <% @wiki.collaborators.each do |c| %>
    <div class="media">
    <%= image_link_to(avatar_url(c.user, '40'), c.user.email, options={class: 'pull-left'}) unless c.user.nil? %>
    <p><small><strong><%= c.user.name %></strong>&nbsp;<span class="label label-default">Collaborator</span><br />
    <%= c.user.email %></small></p>
    </div>
  <% end %>
</div>
